<nav class="page-nav">
  <button type="button" class="page-tab {{#if (eq currentPage 'core')}}active{{/if}}" data-page="core" title="Core Stats">
    <span class="tab-icon tab-icon-core"></span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'combat')}}active{{/if}}" data-page="combat" title="Combat">
    <span class="tab-icon tab-icon-combat"></span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'features')}}active{{/if}}" data-page="features" title="Features">
    <span class="tab-icon tab-icon-features"></span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'inventory')}}active{{/if}}" data-page="inventory" title="Inventory">
    <span class="tab-icon tab-icon-inventory"></span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'biography')}}active{{/if}}" data-page="biography" title="Biography">
    <span class="tab-icon tab-icon-biography"></span>
  </button>
</nav>
