<nav class="page-nav">
  <button type="button" class="page-tab {{#if (eq currentPage 'core')}}active{{/if}}" data-page="core">
    <span class="tab-label">Core</span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'combat')}}active{{/if}}" data-page="combat">
    <span class="tab-label">Combat</span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'features')}}active{{/if}}" data-page="features">
    <span class="tab-label">Features</span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'inventory')}}active{{/if}}" data-page="inventory">
    <span class="tab-label">Inventory</span>
  </button>
  <button type="button" class="page-tab {{#if (eq currentPage 'biography')}}active{{/if}}" data-page="biography">
    <span class="tab-label">Biography</span>
  </button>
</nav>
